
@{
    ViewBag.Title = "Quy Định Chung";
    Layout = "~/Views/Shared/_ShoeLayout.cshtml";
}
<div class="container">
    <div class="push-up blocks-spacer">
        <div class="row">



            <aside class="span3">
                <div class="sidebar-item">

                <div class="row" style="margin-top:10%">
                        <div class="span3" id="spyMenu">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#condition">ĐIỀU KIỆN BẢO HÀNH VÀ ĐỔI HÀNG <i class="icon-caret-right pull-right"></i></a></li>
                                <li><a href="#map">Bản đồ <i class="icon-caret-right pull-right"></i></a></li>
                             
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>



            <section class="span9" style="margin-top:4%">



                <div class="underlined push-down-20">
                    <h3><span class="light">Quy Định Chung</span></h3>
                </div>



                <section class="blocks-spacer">
                    Quý khách nên đặt mua sản phẩm trước 4 giờ qua điện thoại hoặc fax và qua website hoặc email, chúng tôi đảm bảo sẽ vận chuyển sản phẩm đến tận nơi theo yêu cầu của Quý khách hàng . Nếu có trường hợp khẩn cấp, xin vui lòng liên lạc qua điện thoại, chúng tôi sẵn sàng thực hiện đơn hàng một cách nhanh chóng và kịp thời theo yêu cầu.

                    Những đơn hàng tại nội thành phố, thị xã tất cả các tỉnh và thành phố trên lãnh thổ Việt Nam, sau khi khách hàng đã hoàn tất các thủ tục thanh toán, chúng tôi thực hiện đơn hàng và giao đến người nhận trong vòng 24 đến 48 giờ đồng.

                    Đối với những đơn hàng nằm ngoài nội thành TP.HCM, Hà Nội, các tỉnh, thành phố khác, quý Khách nên thực hiện đơn đặt hàng trước 24 giờ để đơn hàng đảm bảo được giao đúng theo yêu cầu.

                    Chúng tôi sẽ bằng mọi khả năng có thể để giao hàng đúng thời gian quý khách yêu cầu sau khi nhận được đơn đặt hàng. Trừ những lý do khách quan xảy ra ngoài ý muốn của cả 2 bên như quý khách cung cấp sai địa chỉ giao hàng, người nhận chuyển chỗ ở, thiên tai…
                </section>



                <section>



                    <div class="underlined push-down-20">
                        <h3><span class="light"></span>ĐIỀU KIỆN BẢO HÀNH VÀ ĐỔI HÀNG </h3>
                    </div>

                    <div class="row-fluid push-down-20" id="condition">
                        <div class="span4">
                            <a href="#"><img src="~/Content/images/shoes-banner.jpg" alt="person" width="550" height="660" /></a>
                        </div>
                        <div class="span4">

                            <p>
                                Điều kiện bảo hành
                                Nếu sản phẩm bị hở keo, sứt chỉ sẽ được bảo hành miễn phí
                                Thời gian bảo hành cụ thể cho từng chủng loại ( bảo hành: 3 tháng, 6 tháng, 9 tháng) được ghi cụ thể trong phiếu bảo hành.
                                Cửa hàng không bảo hành sản phẩm trong các trường hợp sau:
                                Giày dép bị hư do lỗi quý khách gây ra như: trầy xước, mòn đế, nóng chảy, thú vật cắn, ...
                                Giày dép bị hao mòn tự nhiên trong quá trình sử dụng.
                                Các loại đế PU tự hủy qua thời gian sử dụng, sản phẩm bị biến dạng
                                Không có phiếu bảo hành.
                            </p>
                        </div>
                        <div class="span4">
                            <blockquote>
                                <i class="icon-quote-left icon-5x"></i>
                                <p>
                                    Điều kiện đổi hàng mới
                                    Sản phẩm chỉ được đổi mới trong vòng 7 ngày kể từ ngày mua trong trường hợp hở keo hoặc sứt chỉ không thể sửa được hoặc sản phẩm còn mới nhưng bị hư do lỗi kỹ thuật
                                    Sản phẩm bảo hành bị trễ hẹn quá 7 ngày kể từ ngày hẹn giao giày cho quý khách.
                                    Tất cả sản phẩm đổi mới phải có phiếu bảo hành.
                                    Điều kiện đổi hàng khác
                                    Thời hạn 7 ngày kể từ ngày mua.
                                    Giày vẫn còn mới 100% (chưa sử dụng)
                                    Quý khách phải mang theo phiếu bảo hành.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="underlined push-down-20">
                        <h3><span class="light"></span>Bản Đồ </h3>
                    </div>
                    <div class="row-fluid push-down-20" id="map">
                        <div class="span12">
                            <blockquote>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.0248395479703!2d106.6981948!3d10.7325675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b2747a81a3%3A0x33c1813055acb613!2zVHLGsOG7nW5nIMSR4bqhaSBo4buNYyBUw7RuIMSQ4bupYyBUaOG6r25n!5e0!3m2!1svi!2s!4v1443973039084" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </blockquote>
                        </div>
                    </div>


                </section>
                <hr />
            </section>
        </div>
    </div>
</div> 
