<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="forgotPassModalLabel"><span class="light">Forgot</span> your password?</h3>
</div>
<div class="modal-body">
    <form method="post" action="#">
        <div class="control-group">
            <label class="control-label hidden shown-ie8" for="inputUsernameRegister">Username</label>
            <div class="controls">
                <input type="text" class="input-block-level" id="inputUsernameRegister" placeholder="Username">
            </div>
        </div>
        <p class="center-align">OR</p>
        <div class="control-group">
            <label class="control-label hidden shown-ie8" for="inputEmailRegister">Email</label>
            <div class="controls">
                <input type="email" class="input-block-level" id="inputEmailRegister" placeholder="Email">
            </div>
        </div>
        <button type="submit" class="btn btn-primary input-block-level bold higher">
            SEND ME A NEW PASSWORD
        </button>
    </form>
</div>
