<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="loginModalLabel"><span class="light">Login</span> To Webmarket</h3>
</div>
<div class="modal-body">
    <form method="post" action="#">
        <div class="control-group">
            <label class="control-label hidden shown-ie8" for="inputEmail">Username</label>
            <div class="controls">
                <input type="text" class="input-block-level" id="inputEmail" placeholder="Username" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label hidden shown-ie8" for="inputPassword">Password</label>
            <div class="controls">
                <input type="password" class="input-block-level" id="inputPassword" placeholder="Password" required>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary input-block-level bold higher">
            SIGN IN
        </button>
    </form>
    <p class="center-align push-down-0">
        <a data-toggle="modal" role="button" href="#forgotPassModal" data-dismiss="modal">Forgot your password?</a>
    </p>
</div>
